/*! CSS Used from: Embedded */
.launchpad-input {
    margin-bottom: 1rem !important;
    margin-top: unset;
}
@media (max-width:65.98rem){
    .Grid-module--column--1wV-c{margin-bottom:var(--space);}
    }
    div,fieldset,form,label,span{padding:0;border:0;margin:0;font:inherit;font-size:100%;vertical-align:initial;}
    button,input{border-radius:0;font-family:inherit;}
    input[type=text]::-ms-clear{display:none;}
    *{box-sizing:border-box;} 
    button{margin:0;}
    .bx--row{display:flex;flex-wrap:wrap;margin-right:-1rem;margin-left:-1rem;}
    .bx--col-md-4{width:100%;padding-right:1rem;padding-left:1rem;}
    .bx--col-md-8{width:100%;padding-right:1rem;padding-left:1rem;}
    @media (min-width:42rem){
    .bx--col-md-4{display:block;max-width:50%;flex:0 0 50%;}
    .bx--col-md-8{display:block;max-width:100%;flex:0 0 100%;}
    }
    .bx--col-lg-4{width:100%;padding-right:1rem;padding-left:1rem;}
    .bx--col-lg-8{width:100%;padding-right:1rem;padding-left:1rem;}
    @media (min-width:66rem){
    .bx--col-lg-4{display:block;max-width:33.33333%;flex:0 0 33.33333%;}
    .bx--col-lg-8{display:block;max-width:66.66667%;flex:0 0 66.66667%;}
    }
    .bx--btn{box-sizing:border-box;border:0;font-family:inherit;font-size:100%;vertical-align:initial;font-size:var(--cds-body-short-01-font-size,.875rem);font-weight:var(--cds-body-short-01-font-weight,400);line-height:var(--cds-body-short-01-line-height,1.29);letter-spacing:var(--cds-body-short-01-letter-spacing,.16px);position:relative;display:inline-flex;max-width:20rem;min-height:3rem;flex-shrink:0;align-items:center;justify-content:space-between;padding:calc(.875rem - 3px) 63px calc(.875rem - 3px) 15px;margin:0;border-radius:0;cursor:pointer;outline:none;text-align:left;text-decoration:none;transition:background 70ms cubic-bezier(0,0,.38,.9),box-shadow 70ms cubic-bezier(0,0,.38,.9),border-color 70ms cubic-bezier(0,0,.38,.9),outline 70ms cubic-bezier(0,0,.38,.9);vertical-align:top;}
    .bx--btn:disabled,.bx--btn:focus:disabled,.bx--btn:hover:disabled{border-color:var(--cds-disabled-02,#c6c6c6);background:var(--cds-disabled-02,#c6c6c6);box-shadow:none;color:var(--cds-disabled-03,#8d8d8d);cursor:not-allowed;}
    .bx--btn::-moz-focus-inner{padding:0;border:0;}
    .bx--btn--primary{border:1px solid transparent;background-color:var(--cds-interactive-01,#0f62fe);color:var(--cds-text-04,#fff);}
    .bx--btn--primary:hover{background-color:var(--cds-hover-primary,#0353e9);}
    .bx--btn--primary:focus{border-color:var(--cds-focus,#0f62fe);box-shadow:inset 0 0 0 1px var(--cds-focus,#0f62fe),inset 0 0 0 2px var(--cds-ui-background,#f4f4f4);}
    .bx--btn--primary:active{background-color:var(--cds-active-primary,#002d9c);}
    .bx--btn--primary:hover{color:var(--cds-text-04,#fff);}
    @media (forced-colors:active),(prefers-contrast),screen and (-ms-high-contrast:active){
    .bx--btn:focus{color:Highlight;outline:1px solid Highlight;}
    }
    .bx--form-item{font-size:var(--cds-body-short-01-font-size,.875rem);font-weight:var(--cds-body-short-01-font-weight,400);line-height:var(--cds-body-short-01-line-height,1.29);letter-spacing:var(--cds-body-short-01-letter-spacing,.16px);display:flex;flex:1 1 auto;flex-direction:column;align-items:flex-start;}
    .bx--label{box-sizing:border-box;padding:0;border:0;font-family:inherit;font-size:100%;font-size:var(--cds-label-01-font-size,.75rem);font-weight:var(--cds-label-01-font-weight,400);line-height:var(--cds-label-01-line-height,1.34);letter-spacing:var(--cds-label-01-letter-spacing,.32px);display:inline-block;margin:0 0 .5rem;color:var(--cds-text-02,#525252);font-weight:400;line-height:1rem;vertical-align:initial;}
    .bx--radio-button-group{box-sizing:border-box;padding:0;border:0;margin:0;font-family:inherit;font-size:100%;vertical-align:initial;position:relative;display:flex;align-items:center;}
    .bx--radio-button-group *,.bx--radio-button-group :after,.bx--radio-button-group :before{box-sizing:inherit;}
    .bx--radio-button{position:absolute;overflow:hidden;width:1px;height:1px;padding:0;border:0;margin:-1px;clip:rect(0,0,0,0);white-space:nowrap;visibility:inherit;}
    .bx--radio-button__label{font-size:var(--cds-body-short-01-font-size,.875rem);font-weight:var(--cds-body-short-01-font-weight,400);line-height:var(--cds-body-short-01-line-height,1.29);letter-spacing:var(--cds-body-short-01-letter-spacing,.16px);display:flex;align-items:center;margin-right:1rem;cursor:pointer;}
    .bx--radio-button__appearance{box-sizing:border-box;padding:0;border:0;font-family:inherit;font-size:100%;vertical-align:initial;width:1.125rem;height:1.125rem;flex-shrink:0;border:1px solid var(--cds-icon-01,#161616);margin:.0625rem .5rem .125rem .125rem;background-color:initial;border-radius:50%;}
    .bx--radio-button:checked+.bx--radio-button__label .bx--radio-button__appearance{display:flex;align-items:center;justify-content:center;border-color:var(--cds-icon-01,#161616);}
    .bx--radio-button:checked+.bx--radio-button__label .bx--radio-button__appearance:before{position:relative;display:inline-block;width:100%;height:100%;background-color:var(--cds-icon-01,#161616);border-radius:50%;content:"";transform:scale(.5);}
    @media screen and (-ms-high-contrast:active){
    .bx--radio-button:checked+.bx--radio-button__label .bx--radio-button__appearance:before{background-color:WindowText;}
    }
    @media screen and (prefers-contrast){
    .bx--radio-button:checked+.bx--radio-button__label .bx--radio-button__appearance:before{border:2px solid WindowText;}
    }
    .bx--radio-button:disabled+.bx--radio-button__label{color:#c6c6c6;cursor:not-allowed;}
    .bx--radio-button:disabled+.bx--radio-button__label .bx--radio-button__appearance,.bx--radio-button:disabled:checked+.bx--radio-button__label .bx--radio-button__appearance{border-color:#c6c6c6;}
    .bx--radio-button:disabled+.bx--radio-button__label .bx--radio-button__appearance:before,.bx--radio-button:disabled:checked+.bx--radio-button__label .bx--radio-button__appearance:before{background-color:#c6c6c6;}
    .bx--radio-button:focus+.bx--radio-button__label .bx--radio-button__appearance{box-shadow:0 0 0 2px var(--cds-focus,#0f62fe);outline:1px solid transparent;}
    .bx--radio-button-wrapper .bx--radio-button__label{display:flex;align-items:flex-start;justify-content:center;margin:0;}
    .bx--radio-button-wrapper:not(:last-of-type){margin-right:1rem;}
    .bx--radio-button-group--label-right .bx--radio-button__label{flex-direction:row;}
    .bx--text-input{box-sizing:border-box;margin:0;font-family:inherit;font-size:100%;vertical-align:initial;font-size:var(--cds-body-short-01-font-size,.875rem);font-weight:var(--cds-body-short-01-font-weight,400);line-height:var(--cds-body-short-01-line-height,1.29);letter-spacing:var(--cds-body-short-01-letter-spacing,.16px);outline:2px solid transparent;outline-offset:-2px;width:100%;height:2.5rem;padding:0 1rem;border:none;border-bottom:1px solid var(--cds-ui-04,#8d8d8d);background-color:var(--cds-field-01,#fff);color:var(--cds-text-01,#161616);transition:background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);}
    .bx--text-input:active,.bx--text-input:focus{outline:2px solid var(--cds-focus,#0f62fe);outline-offset:-2px;}
    @media screen and (prefers-contrast){
    .bx--text-input:active,.bx--text-input:focus{outline-style:dotted;}
    }
    .bx--text-input::placeholder{color:var(--cds-text-05,#6f6f6f);opacity:1;}
    .bx--text-input:disabled{outline:2px solid transparent;outline-offset:-2px;border-bottom:1px solid transparent;background-color:var(--cds-field-disabled,#fff);color:var(--cds-text-disabled,#c6c6c6);cursor:not-allowed;-webkit-text-fill-color:currentColor;}
    .bx--text-input:disabled::placeholder{color:var(--cds-disabled-02,#c6c6c6);opacity:1;}
    .bx--radio-button-group{border:none;}
    ::-moz-focus-inner{border:0;}
    body button{font-family:inherit;}
    ::-webkit-scrollbar{width:0;}
    @media (min-width:65.98rem){
    .bx--form-item{margin-bottom:var(--space);}

    }