a.AnchorLinks-module--link--1_JzY {
    color: #a19fff;
}

nav.TableOfContents {
    max-width: 1400px;
    margin: 0 auto;
    line-height: 1.7rem;
}

a.bx--link.Link-module--link--PAAZ2 {
    color: #a19fff;
}

a.AutolinkHeader-module--anchor--36UpA.AutolinkHeader-module--left-anchor--1SDoO {
    color: #a19fff !important;
}

ul.AnchorLinks-module--list--2RS5j {
    line-height: 1.7rem;
}